DATABASE_URL = URL_de_conexion_externa_de_la_BD

PORT = 4000

FRONTEND_URL = URL_del_dominio_del_frontend_desplegado

JWT_SECRET = Palabra_super_secreta

RESEND_API_KEY = API_KEY_de_Resend_caracteres_aleatorios
RESEND_EMAIL_FROM = onboarding@resend.dev