DATABASE_URL = URL_de_conexion_externa_de_la_BD
# Una conexión local de la base de datos tiene la forma: postgresql://usuario:password@host:puerto/database

FRONTEND_URL = URL_del_dominio_del_frontend_desplegado
