DATABASE_URL = URL_de_conexion_externa_de_la_BD

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME= Nombre_del_Cloud_de_Cloudinary

NEXT_PUBLIC_CLOUDINARY_API_KEY= API_KEY_publica_proporcionada_por_Cloudinary_solo_numeros

CLOUDINARY_API_SECRET= Clave_privada_para_autenticar_operaciones_en_Cloudinary_texto_y_numeros